<%= link_to 'Principal', root_path %>
<br><br>

<h1>  Educación con amor</h1>

<h2>  Capítulo 8: Sin presión</h2>

<h3>  Desarraigar la violencia del hogar</h3>

<p align="justify">
  El padre que desea ver crecer a sus hijos sanos en todo sentido, que quiere que sean
  "seres humanos", no podrá lograrlo a menos que él mismo se convierta en un "ser humano"...

  <br><br>
  Solamente después que los padres trabajen sobre si mismos para mejorar y extirpar
  la violencia del hogar, entonces pueden exigirles a los hijos que se comporten
  de la misma manera, que no se insulten ni se avergüencen los unos a los otros
  ni se peguen. Es necesario que los padres les enseñen a sus hijos las graves
  consecuencias que trae la violencia. Deben decirles que avergonzar a una persona
  es como matarla. ¿Acaso quieren ser asesinos? Solamente cuando el padre está
  limpio de estas malas cualidades puede decirles estas cosas a sus hijos, y evitar
  que la violencia se apodere de su hogar.

  <br><br>
  También cuando el niño cuenta acerca de la violencia que vivió en la escuela,
  en la plaza o en cualquier otro lugar, los padres deben expresar su disgusto y
  hablar de la gravedad del tema. Hay que decirles que siempre deben alejarse de
  la violencia y no participar de ningún acto de esa clase; no hacer sufrir ni
  avergonzar a nadie y mucho menos pegarle. Hay que enseñarles a los niños que
  causar dolor o pegarle a otro no es un acto digno de un ser humano sino de un
  animal. Hay que decirles: "¡Nosotros somos seres humanos! Fuimos creados a imagen
  y semejanza de Dios. Las personas deben ser piadosas tal como Él es piadoso.
  Sólo los animales son crueles porque ellos no fueron creados a imagen y semejanza del Creador".

  <br><br>
  Esto es algo que tenemos que entender muy bien. Hashem exige que la persona se asemeje a Él.
  Como dijeron nuestros Sabios: "Así como Él es misericordioso, tú también debes perdonar".
  Hashem no le dice a la persona : "Yo entiendo que eres un ser físico. Si logras elevarte un poco,
  está muy bien, es suficiente...". No, no nos dice esto, sino que nos exige que nos asemejemos a
  Él hasta el punto de que esto sea posible. Que seamos piadosos, que seamos bondadosos, etc.
  Quien desee profundizar sobre este tema puede estudiar el libro: "Tomer Devorá",
  donde se explica cómo debe comportarse la persona con respecto a cada una de sus cualidades,
  de acuerdo con la cualidad Divina correspondiente con la cual el Creador dirige el mundo.
</p>
