<%= link_to 'Principal', root_path %>
<br><br>
<center>
  <h1>  Los caminos de los justos</h1>

  <h2>  Anónimo</h2>

  <h3>  Ética</h3>

</center>

<h4>
  Acerca de este texto
</h4>
<p align="justify">
  Escrito en Alemania en la Edad Media (1400 - 1500 E.C). Es anónimo. <br>
  "Los caminos de los justos", originalmente llamado "libro de los atributos" es
  un libro de enseñanzas éticas judías. Sigue la estructura de "La mejora de las
  cualidades morales" de Solomon ibn Gabirol y agrega enseñanzas del Rambám y otros.
  El trabajo aboga por mejorar el carácter y ejercer el equilibrio en la vida.

  <center> ... <br> <br> </center>

  <h4>  Capítulo Seis: SOBRE EL ODIO</h4>

  Con respecto a la cualidad del odio, está escrito: <strong>  "No odiarás a tu
  hermano en tu corazón" ( Lev. 19:17 )</strong>, y con este verso se nos ha
  advertido que eliminemos de nuestras almas el rasgo del odio. Este rasgo causa
  muchos pecados, como el chismorreo, porque el que odia a su compañero lo dice
  al mundo por su odio, lo acusa, y siempre busca y desea que le suceda el mal,
  y se regocija de su desgracia, y trata de dañarlo. siempre que puede, y busca
  vengarse de él, y le guarda rencor y no tiene piedad de él aunque esté en gran
  angustia. Y a causa de su odio, calumnia todas las buenas obras de aquel a quien
  odia y las hace odiosas a sus propios ojos y a los ojos de los demás. El que odia
  retiene el bien que se debe al odiado y no admitirá la verdad de nada de lo que diga o
  haga su víctima, y si la víctima le debe algo, el que odia lo oprime.

  <br><br>
  Hay varios tipos de odio. Hay quien odia a su compañero porque lo perjudicó en
  asuntos de dinero o lo golpeó, lo avergonzó o lo calumnió. Por todas estas y
  otras causas similares, una persona no debe odiar a su compañero y guardar
  silencio sobre su agravio como se dice en relación con los malvados: "Y Absalón
  no habló con Amnón ni mal ni bien porque Absalón odiaba a Amnón" ( II Samuel 13:22 ).
  Pero es una mitzvá que le haga saber a su compañero que siente que ha sido
  agraviado y le diga: "¿Por qué me hiciste así y así?". Como está dicho:
  "Ciertamente reprenderás a tu prójimo" ( Lev. 19:17 ). Y si el ofensor se arrepiente
  y le pide a la persona que fue agraviada que lo perdone, debe perdonarlo y el
  que perdona no debe ser cruel. Sobre esto se dice: "Y Abraham oró a Dios"
  (en nombre de Abimelec que lo había agraviado) ( Gén. 20:17 ). Y aunque el ofensor
  no le pida que lo perdone, el ofendido no debe odiarlo, sino que debe comportarse
  con él con amor, y al final se llegará a esto: que el que está en el mal corregirá
  lo que tiene. arruinado.

  <br><br>
  Hay un mal que es penoso, en verdad, y es el odio sin causa, y es ese mal que
  causó la destrucción del Segundo Templo. Luego está el odio que surge de los
  celos, que es aún peor, y es propio que una persona reprenda su alma para
  apartarse de estos males. Y hay quien aborrece a su compañero porque no lo trata
  con bondad, o no le da el regalo que quiere, o no le presta dinero cuando está afligido.
  Es propio que una persona se aparte de todos estos y otros males semejantes y
  reciba con amor todo lo que el Creador, Bendito Sea, decreta para ella. Y no
  debe poner su confianza en el hombre, sino que debe pensar: "Si yo fuera realmente
  digno a los ojos de Dios, Bendito sea, Él me daría lo que necesito a pesar de
  la negativa del hombre a darme o prestarme algo". Y si está en la pobreza y en
  la angustia o si está enfermo y muy afligido por grandes dolores, debe pensar
  que el Creador lo ha decretado para su bien, para que aprenda a recibir la voluntad
  de Dios con amor. Y no hay duda de que, cuando haga esto, todo el odio se apartará
  de su corazón, y esta aceptación de la voluntad de Dios con amor es un gran fundamento
  y un pilar poderoso para la Torá y los Mandamientos.

  <br><br>
  Y el que se disciplina así para recibir todo con amor y para decir en cada ocasión
  y contratiempo: "Esto también es para bien" ( Taanit 21a ), y sintiendo esto en
  su corazón, y se regocija en el juicio del Creador, bendito sea, se salvará del odio,
  la enemistad y los celos.

  <br><br>
  E incluso el odio que una persona siente a menudo por los que están en su oficio
  o profesión, todo esto es una locura y un gran mal, porque debe tener en cuenta
  que nadie puede ganar más de lo que el Creador ha decretado para él.

  <br><br>
  El peor de todos los odios, el más difícil de erradicar, es el que sienten las
  personas hacia quienes las reprenden o corrigen para enseñarles el camino recto,
  como en el caso del que habla Amós: "Odian al que reprende". ellos en la puerta"
  ( Amós 5:10 ). Y hay un odio más malo que este; es decir, cuando la gente aborrece
  a los que hacen el bien y persiguen la justicia, como está dicho: "Me oponen con
  saña porque sigo el bien" ( Sal 38, 21 ). Y aquellos que siguen este camino odian
  al Señor mismo porque odian a los que Él ama y odian la Torá y los Mandamientos
  ya que aborrecen, rechazan y odian a los que cumplen sus mandamientos.

  <br><br>
  El Sabio dijo: "Si quieres que tu compañero te odie, sigue visitándolo constantemente,
  y si quieres que te ame, visítalo después de largos intervalos". Y sobre este
  tema se dice: "Deja que tu pie esté pocas veces en la casa de tu prójimo, no
  sea que se sacie de ti y te odie" ( Prov. 25:17).

  <br><br>
  Y es necesario que sepas que el que odia a los demás, ellos también lo odiarán,
  y el que aumenta el odio en su corazón traerá el mal sobre sí mismo. Y donde hay
  amor que no es por amor al Cielo, puede convertirse en odio muy grande, como se
  dice de Amnón: "Entonces Amnón la aborreció con un odio sobremanera grande, porque
  el odio con que la aborrecía era mayor que el amor con que la había amado" ( II Sam. 13:15 ).

  <br><br>
  No creas en el consejo del que odia y es enemigo, como está dicho: "Pero los besos
  del enemigo son inoportunos" ( Prov. 27:6 ). Y sabed que muchas personas expresan
  amor con sus palabras pero es posible que sean enemigos totales en su corazón,
  y es necesario que los reconozcáis y no pongáis en ellos vuestra fe como está
  dicho: "El que odia disimula con sus labios mientras en su interior acumula
  traición" (Ibíd. 26:24). Y aunque te hable con lengua suave y palabras tiernas,
  no inclines tu corazón hacia él como está dicho: "Cuando habla con gracia, no
  le creáis porque hay siete abominaciones en su corazón" ( Prov. 26:25 ). Y este
  es el tipo de conducta que Joab mostró a Abner, hijo de Ner ( II Sam. 3:27) y
  a Amasa, hijo de Yeter ( II Sam. 20:9-10 ) (paz y amor) hasta matarlos, y como
  hizo Ismael hijo de Netanías con Gedalías, hijo de Ahicam hasta matarlo ( Jeremías 41: 1-2 ).
  Uno de los Sabios dijo: "El mejor plan de los que puedes tramar contra tu enemigo
  es volverlo a tu amor (hacer de él un amigo) si puedes".

  <br><br>
  Hay un odio que es una mitzvá: por ejemplo, un hombre malvado que no acepta la
  corrección — es un mandato de la Torá odiarlo, como está dicho: "El temor del
  Señor es odiar el mal" ( Prov . 8:13 ). Y dice: "He aquí, aborrezco, oh Señor,
  a los que te aborrecen y lucho con los que se levantan contra ti, los aborrezco
  con sumo odio; son mis enemigos" ( Sal 139, 21-22). Y un hombre debe odiar las
  mentiras y la falsedad. El fin del asunto es este: que un hombre debe odiar todo
  lo que lo separa y le impide amar al Creador de Todo, como está dicho: "Odio todo
  camino falso" (Ibid. 119:128). Y esta es una gran regla general, que un hombre
  debe odiar toda cosa falsa, y cada acto que aumente el odio por los caminos falsos
  aumentará el amor por la Torá "(Ibid 163). Y que cada persona ame la verdad y
  la paz como está escrito : "Por tanto, amad la verdad y la paz" ( Zacarías 8:19 ).
</p>
