<center>
  <h1>
    Torá para Chile
  </h1>

  <h2>
    Guía
  </h2>

  <p>
    <strong> Las cualidades: <br> </strong>
    <%= link_to '"El camino de los justos"', ethical_path %>
    <br><br>
    <strong> Los cinco sentidos: <br> </strong>
    <%= link_to '"Hablar bien, vivir bien.", del R. Pinjás ben Aharon Shofet', senses_path%>
    <br><br>
    <strong> Cómo educar: <br> </strong>
    <%= link_to '"Educación con amor", del R. Shalom Arush', education_path %>
  </p>
</center>
