<%= link_to 'Principal', root_path %>
<br><br>

<h1>  Hablar bien, vivir bien</h1>

<h2>  Capítulo 1: Conceptos generales sobre la lengua maligna</h2>

<h3>  QUIEN "NO" HABLA MAL DE OTROS "NO" PECARÁ CON RESPECTO A SU PRÓJIMO</h3>

<p align="justify">
  Una persona que ha resuelto no hablar mal de otros, estará libre de transgresiones
  entre él y otras personas. Él no hablará mal de otros, no avergonzará a nadie,
  no insultará y se mantendrá alejado de peleas. Ciertamente no engañará a otros
  y no robará; se cuidará de no causar daño a nadie con sus palabras y mucho menos
  con sus acciones.
</p>
